@font-face {
    font-family: "Custom Font";
    src: url({{fontURL}});
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "{{font}}", "Custom Font", "Microsoft YaHei", "Source Han Sans", "Noto Sans CJK", sans-serif;
}

html {
    width: 800px;
    height: auto;
}

.background {
    width: 100%;
    height: auto;
    padding: 15px;
    background: linear-gradient(to right bottom, {{cardColorStart}}, {{cardColorEnd}});
    overflow: hidden;
}

.base-plate {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    background-color: #FFF5EE;
}

.card {
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 15px;
    overflow: hidden;
    background-color: #fff;
}

.card-body {
    display: flex;
    padding: 15px;
}

.card .anchor-avatar {
    max-width: 70px;
    /* 设置最大宽度为容器宽度的100% */
    max-height: 70px;
    /* 设置最大高度为容器高度的90% */
    margin-right: 20px;
    border-radius: 10px;
}

.card .card-body .card-content {
    width: 100%;
}

.card .card-body .card-content .card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card .up-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}

.card .up-info .up-name {
    font-size: 27px;
}

.card .pub-time {
    font-size: 20px;
    color: grey;
}

.card .card-header img {
    height: 50px;
}

.card .dress-up {
    position: relative;
    /* background-image: url('{{dynamicCardUrl}}');
    background-size: cover; */
    font-size: 17px;
}

.card .dress-up img {
    max-width: 100%;
    max-height: 100%;
}

.card .dress-up span {
    position: absolute;
    color: {{dynamicCardColor}};
    right: 67px;
    top: 24px;
}

.card .card-topic {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
    color: #008AC5;
    gap: 3px;
}

.card .card-details {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 22px;
    width: 90%;
}

.card .card-major {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card .card-major .photo-item {
    border-radius: 10px;
    overflow: hidden;
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.card .card-major .single-photo-item {
    max-width: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.card .card-major .four-photo-item {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    flex-basis: 20%; /* or any value less than 50% */
}

.card .card-stat {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 15px;
    color: gray;
    font-size: 14px;
}

.card .card-stat .stat-item {
    display: flex;
    align-items: center;
    gap: 3px;
}

.card .card-video {
    display: flex;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    margin-top: 10px;
    height: 147px;
}

.card .video-cover {
    position: relative;
    flex: 2;
    overflow: hidden;
}

.card .video-cover img {
    width: 236px;
}

.card .cover-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 30%);
}

.card .video-cover span {
    position: absolute;
    color: #fff;
    font-size: 14px;
    right: 10px;
    bottom: 8px;
}

.card .video-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 3;
    border: #e5e7e9 1px solid;
    border-left: none;
    border-radius: 0 5px 5px 0;
    padding: 12px 16px 10px;
    background-color: #fff;
}

.card .video-info-header .video-title {
    font-size: 16px;
}

.card .video-info-header .video-introduction {
    margin-top: 5px;
    font-size: 12px;
    color: #AAA;
    display: -webkit-box;
    /* 必须设置为 -webkit-box 或 -webkit-inline-box */
    -webkit-box-orient: vertical;
    /* 必须设置为 vertical */
    -webkit-line-clamp: 2;
    /* 显示的文本行数 */
    overflow: hidden;
    /* 必须设置为 hidden */
}

.card .video-stat {
    font-size: 12px;
    color: #AAA;
    display: flex;
    gap: 35px
}

.card .video-stat .video-stat-item {
    display: flex;
    align-items: center;
    gap: 3px;
}

.card .card-forward {
    border-radius: 5px;
    padding: 12px 10px 14px 10px;
    background-color: #F6F7F8;
}

.card-forward .forward-userinfo {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 35px;
}

.forward-userinfo img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.forward-userinfo span {
    color: #61666D;
    font-size: 20px;
}

.card .card-reserve {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #F6F7F8;
}

.card-reserve .reserve-title {
    font-size: 14px;
    color: #18191C;
}

.card-reserve .reserve-desc {
    margin-top: 7px;
    font-size: 12px;
    color: #9499A0;
}

.reserve-info .reserve-time {
    margin-right: 7px;
}

.card-reserve .reserve-prize {
    display: flex;
    align-items: center;
    margin-top: 3px;
    gap: 3px;
    color: #00AEEC;
}

.card .card-reserve .reserve-button button {
    border: none;
    height: 30px;
    width: 72px;
    font-size: 13px;
    border-radius: 7px;
}

.card .card-reserve .reserve-button .reserve-button-end {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9499A0;
    background-color: #E3E5E7;
}

.card .card-reserve .reserve-button .reserve-button-ing {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background-color: #00A0D8;
}